header.header
  .col-4
    .inner-menu
        if(user)
          a(href=`/user/profile`)
            div(class="avatar-container")
              img(src=(user.avatar ? user.avatar : "https://robohash.org/hicveldicta.png") alt="avatar" class="avatar-icon")
              span(class="user-name") #{user.fullName}
          a(href="/rooms-chat") Phòng chat        
          a(href="/user/logout") Đăng xuất
            
        else
          a(href="/user/login") Đăng nhập
          a(href="/user/register") Đăng ký     