header.header
  .col-4
    .inner-menu
        if(user)
          li
            a(href="/user/profile") #{user.fullName}
          li
            a(href="/user/logout") Đăng xuất
        else
          li       
            a(href="/user/login") Đăng nhập
          li
            a(href="/user/register") Đăng ký     