header.header
  .col-4
    .inner-menu
        if(user)
          a(href=`/user/profile`)
            div(class="avatar-container")
              img(src=user.avatar alt="avatar" class="avatar-icon")
              span(class="user-name") #{user.fullName}
          a(href="/chat") Chat
          a(href="/user/logout") Đăng xuất
            
        else
          a(href="/user/login") Đăng nhập
          a(href="/user/register") Đăng ký     